.formulario{
    
    text-align: center;
    background-color: map-get($colores , fondo);
    padding: 20px;
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}



.info{
    color: map-get($colores , secundario);
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    padding: 1%;  
} 

#comentario {
    color: map-get($colores , secundario);
    font-size: 15px;
    text-align: center;
    padding-top: 5%;
    // display: block;
    // margin: 0 auto;
    width: 100%;


}

.boton {
    @extend.btn-primary;
    font-size: 15px;
    text-align: center;
    padding: 1%;
    margin-top: 4%;
    color: white;}

.ubicacion {
    width: 100%;

}
.contenedorUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
}