.formulario{
    text-align: center;
    width: 450px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}

.info{
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    padding: 1%;  
} 

#comentario {
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 5%;
    display: block;
    margin: auto;
}

.boton {
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 1%;
    margin-top: 4%;}