.card {
    align-content: center;
    text-align: justify;
    border: 20px;;
        .card-title {
        text-align: center;
    } 
}
.btn-primary{
    display: block;
    margin: auto;
    background-color:$colorprincipal;
    border-color: $colorprincipal;
    } 

.headerIndex img {
    display: block; 
    margin: auto;  
    } 
.imagenHeader{margin-bottom: 60px;}