
@mixin propiedades ($alineacion, $tamanio){
    text-align: $alineacion;
    font-size: $tamanio;
}
    


h1 {
    @include propiedades(center, 60px);
    color: map-get($colores , principal);
    margin-bottom: 60px;
}
h2 {
    @include propiedades(center, 45px);
    color: map-get($colores , secundario);
    margin-bottom: 60px;
}
h4 {
    color: map-get($colores , secundario);
    @include propiedades(center, 30px);
}

h3{ 
    color: map-get($colores , secundario);
    @include propiedades(center, 32px);
}

h5 {
    color: map-get($colores , negro);
    @include propiedades(center, 15px); 
    // margin-top: 10px;
    gap: 20px; 
}