$colores:(
principal: rgb(54, 143, 113),
secundario:  rgb(151, 162, 159),
terciario: rgb(202, 108, 199),
fondo:  whitesmoke,
negro:rgb(3, 3, 3)
);

$btn-primary:(
display: block,
margen: auto,
bordes:0
);

