@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

.card {
  align-content: center;
  text-align: justify;
  border: 20px; }
  .card .card-title {
    text-align: center; }

.btn-primary, .boton {
  display: block;
  margin: auto;
  border: 0;
  background-color: #368f71;
  border-color: #368f71; }

.headerIndex img {
  display: block;
  margin: auto; }

.imagenHeader {
  margin-bottom: 60px; }

h1 {
  text-align: center;
  font-size: 60px;
  color: #368f71;
  margin-bottom: 60px; }

h2 {
  text-align: center;
  font-size: 45px;
  color: #97a29f;
  margin-bottom: 60px; }

h4 {
  color: #97a29f;
  text-align: center;
  font-size: 30px; }

h3 {
  color: #97a29f;
  text-align: center;
  font-size: 32px; }

h5 {
  color: #030303;
  text-align: center;
  font-size: 15px;
  gap: 20px; }

.formulario {
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px; }

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; }

.info {
  color: #97a29f;
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
  padding: 1%; }

#comentario {
  color: #97a29f;
  font-size: 15px;
  text-align: center;
  padding-top: 5%;
  width: 100%; }

.boton {
  font-size: 15px;
  text-align: center;
  padding: 1%;
  margin-top: 4%;
  color: white;
  width: 60%; }

.ubicacion {
  width: 100%; }

.contenedorUbi {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.redes {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 80px; }
  .redes .instagram {
    width: 50px;
    height: 50px; }
  .redes .facebook {
    width: 50px;
    height: 50px; }

.footerIndex .pie {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.directiva p {
  text-align: center; }

.slider {
  width: 80%;
  margin: 0 auto; }
